In [14]:
#Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
train_data = pd.read_csv("titanic_train.csv")
test_data = pd.read_csv("titanic_test.csv")

In [10]:
train_data.shape

(891, 12)

In [12]:
test_data.shape

(418, 11)

In [16]:
train_data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [18]:
New_col = train_data.columns.tolist()

In [19]:
New_col

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [20]:
New_col.remove("Survived")

In [21]:
New_col

['PassengerId',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [22]:
New_col.append("Survived")

In [23]:
New_col

['PassengerId',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked',
 'Survived']

In [25]:
train_data.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [27]:
train_data = train_data[New_col]

In [28]:
train_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [33]:
train_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [34]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [35]:
train_data['Age'].fillna(train_data['Age'].median(),inplace = True)

In [36]:
test_data['Age'].fillna(test_data['Age'].median(),inplace = True)

In [37]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [38]:
train_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Survived         0
dtype: int64

In [39]:
train_data.drop("Cabin", axis=1, inplace = True)

In [40]:
test_data.drop("Cabin", axis=1, inplace = True)

In [41]:
train_data.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
Survived       0
dtype: int64

In [42]:
test_data.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Embarked       0
dtype: int64

In [44]:
train_data['Embarked'].fillna(train_data["Embarked"].mode()[0],inplace= True)

In [45]:
test_data["Embarked"].fillna(test_data["Embarked"].mode()[0],inplace =True)

In [46]:
test_data.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Embarked       0
dtype: int64

In [47]:
train_data.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
Survived       0
dtype: int64

In [48]:
train_data["Fare"].fillna(train_data["Fare"].mean(),inplace = True)

In [49]:
test_data["Fare"].fillna(test_data["Fare"].mean(),inplace = True)

In [51]:
test_data.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [53]:
train_data.head(1)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,S,0

In [55]:
train_data['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [57]:
train_data['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6])

In [64]:
from sklearn.preprocessing import LabelEncoder

In [65]:
label_Encoder = LabelEncoder()

In [69]:
train_data['Pclass'] = label_Encoder.fit_transform(train_data['Pclass'])

In [70]:
test_data['Pclass'] = label_Encoder.fit_transform(test_data["Pclass"])

In [79]:
train_data.head(1)

   Pclass  Sex   Age  SibSp  Parch  Fare Embarked  Survived
0       0    1  22.0      1      0  7.25        S         0

In [72]:
columns_to_be_droped = ["PassengerId","Name","Ticket"]

In [73]:
train_data.drop(columns=columns_to_be_droped, axis=1, inplace = True)

In [74]:
test_data.drop(columns=columns_to_be_droped,axis=1, inplace= True)

In [76]:
train_data.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked',
       'Survived'],
      dtype='object')

In [77]:
train_data['Sex'] = label_Encoder.fit_transform(train_data['Sex'])

In [78]:
test_data['Sex'] = label_Encoder.fit_transform(test_data['Sex'])

In [80]:
train_data = pd.get_dummies(train_data, columns=['Embarked'], drop_first=True)
test_data = pd.get_dummies(test_data, columns=['Embarked'], drop_first=True)

In [81]:
from sklearn.preprocessing import StandardScaler

In [82]:
scaler = StandardScaler()

In [83]:
train_data[["Age","Fare"]] = scaler.fit_transform(train_data[["Age","Fare"]])

In [84]:
test_data[["Age","Fare"]] = scaler.fit_transform(test_data[["Age","Fare"]])

In [86]:
from sklearn.model_selection import train_test_split

In [88]:
# X and Y vatiables

In [89]:
train_data.head(3)

,Pclass,Sex,Age,SibSp,Parch,Fare,Survived,Embarked_Q,Embarked_S
0,0,1,-0.565736,1,0,-0.502445,0,0,1
1,0,0,0.663861,1,0,0.786845,1,0,0
2,0,0,-0.258337,0,0,-0.488854,1,0,1

In [90]:
X = train_data.drop('Survived', axis = 1)
y = train_data['Survived']

In [91]:
X_train, X_test, y_train, y_test  = train_test_split(X,y,test_size=0.3, random_state=42)

In [93]:
X_train.shape

(623, 8)

In [94]:
y_train.shape

(623,)

In [97]:
X_test.shape

(268, 8)

In [98]:
y_test.shape

(268,)

In [99]:
from sklearn.linear_model import LogisticRegression

In [100]:
model = LogisticRegression()

In [101]:
model.fit(X_train,y_train)

LogisticRegression()

In [102]:
predictions = model.predict(X_test)

In [103]:
#the x_test is also pushed and modeled

In [104]:
from sklearn.metrics import accuracy_score

In [105]:
accuracy = accuracy_score(y_test, predictions)

In [107]:
accuracy*100

80.22388059701493

In [108]:
from sklearn.metrics import confusion_matrix

In [109]:
cm = confusion_matrix(y_test, predictions)

In [110]:
print(cm)

[[137  20]
 [ 33  78]]