# Regular Expression Regex

In [1]:
import re

In [6]:
text = 'Want to save the exception 450, 1234.92934.983.0 aslk@sdflk.com \
there is some tomorrow $576 ask@kdf.com 12.34.65.87 '

In [7]:
text

'Want to save the exception 450, 1234.92934.983.0 aslk@sdflk.com there is some tomorrow $576 ask@kdf.com 12.34.65.87 '

In [9]:
re.findall('\d+',text) # digits

['450', '1234', '92934', '983', '0', '576', '12', '34', '65', '87']

## Find two char words from the sentence

In [10]:
re.findall(' \w{2} ',text) # word with 2 characters

[' to ', ' is ']

In [11]:
re.findall('[a-zA-Z0-9_.]+@[a-zA-Z0-9_.]+',text) # Email

['aslk@sdflk.com', 'ask@kdf.com']

In [12]:
re.findall('\S+@\S+.com',text) # find all the emails present in the text.

['aslk@sdflk.com', 'ask@kdf.com']

In [13]:
text2 = " the price of house is inr 2cr. sqft 3200  3 bhk,the price of house is inr 5cr. sqft 6200  6 bhk"

In [17]:
re.findall('sqft \d+',text2)[0].replace('sqft','')

' 3200'

In [19]:
a = re.findall('\d+',text) # raw pattern string
import numpy as np
a = np.array(a,dtype='int')
print(text)
print(a)
print('sum: ', a.sum())

Want to save the exception 450, 1234.92934.983.0 aslk@sdflk.com there is some tomorrow $576 ask@kdf.com 12.34.65.87
[  450  1234 92934   983     0   576    12    34    65    87]
sum:  96375

In [18]:
re.findall(r'[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}',text)

['12.34.65.87']

In [20]:
re.findall(r'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}',text)

['12.34.65.87']

write regex to check max 255

In [21]:
re.findall('',text)

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']